@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,regular,italic,600,600italic,700,700italic,800,800italic);
:root{
    --orange: #f8c343;
    --green: #50a183;
    --maroon: #ae3324;
}
::-webkit-scrollbar{
    display: none;
}
*{
    font-family: 'Roboto', 'Open Sans', sans-serif;
}
.top-bar{
    background-color: var(--orange);
    width: 100%;
}

.header-bg{
    background-image: url('../img/pizza.jpg');
    background-position: center;
    background-size: cover;
    height: 30vh;
    width: 100%;
}
.header-bg .overlay{
    background-color: var(--orange);
    width: 100%;
    height: 100%;
    opacity: 0.3;
    mix-blend-mode: color;
}
footer{
    background-color: var(--green);
}
.content{
    position: relative;
    margin-top: -7em;
    /* z-index: 1000; */
}
.btn{
    text-align: left !important;
}
.card{
    background-color: white;
    box-shadow: 0px 0px 5px grey;
    border-radius: 0.5em;
    box-sizing: border-box;
}
.banner h1{
    font-weight: 700;
    font-size: 3rem;
}
.price-size{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.plus-icon{
    background-color: hsla(42, 93%, 62%, 0.3);
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    color: var(--orange);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    line-height: 0;
    font-weight: 300;
}

.minus-sign{
    background-color: hsla(7, 66%, 41%, 0.3);
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    color: var(--maroon);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    line-height: 0;
    font-weight: 300;
}
.green-sign{
    background-color: hsla(158, 34%, 47%, 0.3);
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    color: var(--green);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    line-height: 0;
    font-weight: 300;
}
#list{
    height: 70%;
    overflow-x: hidden;
    overflow-y: auto;
}
/* .second-row{
    height: 10vh;
} */
/* #yourOrder,
#pizzaSizes{
    height: 45vh;
} */
#total{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 1.25rem;
    color: var(--orange);
    justify-self: center;
}
#pizzaSizes{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}
#pizzaSizes>div{
    width: 100%;
}

.pic{
    overflow: hidden;
    height: auto;
    border-radius: 1rem;
    width: 50%;
    margin: 1rem;
}
.picdesc{
    display: flex;
    align-items: center;
}
.modal-price{
    font-weight: 700;
}
#btnPrcCheckout{
    text-align: center !important;
}
.delivery-option{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.delivery-option div{
    width: 50%;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}
.delivery-option button{
    border-radius: 50px;
    text-align: center;
}
#location{
    outline: 0;
    border-width: 0 0 1px;
    border-color: grey;
}
#location:focus{
    border-color: var(--green);
}
button{
    text-align: center !important   ;
}